.custom-span {
    background-color: gray;
    color: white;
    border-radius: 22px;
    padding: 15px 15px;
    display: inline-block;
    font-size: 14px;
}

.hover-effect {
    cursor: pointer;
    background-color: #D3F1DF;
    color: blue;
    transition: background-color 0.3s ease;
}

.hover-effect:hover {
    background-color: #000;
    color: white;
}